# The following dev containers support live updates locally

version: '3'

services:

  backend:
    build:
      context: backend
      dockerfile: Dockerfile
    environment:
      - LISTEN_HOST=0.0.0.0
      - LISTEN_PORT=8080
    ports:
      - "8080:8080"

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "8081:80"
